<p id="notice"><%= notice %></p>

<p>
  <b>Numero expediente:</b>
  <%= @historia_medica.numero_expediente %>
</p>


<%= link_to 'Edit', edit_historia_medica_path(@historia_medica) %> |
<%= link_to 'Back', historia_medicas_path %>
